*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ghg{
    background-image: url(image/austin-poon-JO_S6ewBqAk-unsplash.jpg);
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
p{
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: large;
}
    
h1{
text-align: center;
color: white;
text-transform: uppercase;
    
}
.sub{
    background-color: rgb(50, 50, 249);
    margin-left: 45%;
    border: none;
    padding: 10px 10px;

}
a{
    text-decoration: none;
    color: white;
    border-color: blue;
    text-align: center;
}
.second{
margin-top: 10%;
background-color: rgb(255, 255, 255);
background-image: none;
}
#serv{
    color: black;

}
h4{
    text-align: center;
    
}

.eco{
    text-align: center;
    margin-top: 100%;
    color: red;
    margin: 350px;
    
}
.dds{
    padding-left: 10;
    width: 450px;
    height: 40%;
    position: relative;
    display: inline-block;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-top: 10px;
}
img{
    padding: 30px;
    height: 40%;
    border-radius: 50%;
    margin-left: 100px;
    align-items: center;
    width: 50%;
    
}
.dd{
    width: 350px;
    height: 50vh;
    float: left;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
    align-items:center;
}
h3{

    margin-left: 10;
    text-align: center;
    text-align: center;
    
}
#lor{
    color: rgb(0, 0, 0);
    margin-top: 10;
    text-align: center;
    margin-left: 10;
}
.d3{
    margin: 0 ;
    background-color: wh;
}
#servr{
    color: rgb(0, 0, 0);
    margin-top: 10%;
}
#img3{
    border-radius: 0;
    padding-left: 0;
    height: 250px;
    align-items: center;
    width: 90%;
    margin-left: 25px;
}
.sst{
    display: inline-block;
    background-color: white;
    align-items: center;
    padding: 100px;
}
h6{
    text-align: center;
}
.round{
    background-color: rgb(249, 249, 249);
}
.last{
    align-items: center;
    padding-left: 30;
}
.footerd{
    width: 100vw;
    height: 3vh;
    background-color: aqua;
    
    
}
.lastt{
    height: 25%;
    border-radius: 50%;
    width: 100%;
    margin-left: 50px;
}
.lastr{
    margin-left: 45%;
    font-size: medium;
}
#lorr{
    margin-left: 90px;
}